In [205]:
import pandas as pd
from underthesea import word_tokenize

from collections import Counter
import re

import warnings
warnings.filterwarnings("ignore")

In [206]:
df = pd.DataFrame()

In [207]:
for i in range (1,12):
    df_temp = pd.read_excel(r".\assets\nlp_class_dataset\G01.xlsx".replace("01", str(i).zfill(2)))
    df = pd.concat([df, df_temp], ignore_index=True)

In [208]:
df.drop_duplicates(inplace=True)
df.dropna(inplace=True)

In [209]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 580 entries, 0 to 581
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       580 non-null    object
 1   title    580 non-null    object
 2   content  580 non-null    object
 3   topic    580 non-null    object
dtypes: object(4)
memory usage: 22.7+ KB

In [210]:
combined_df = df.groupby('topic').agg({
    'id': lambda x: ', '.join(x),
    'title': lambda x: ' '.join(x),
    'content': lambda x: ' '.join(x)
}).reset_index()

display(combined_df)

,topic,id,title,content
0,Chính trị,"G04_001, G04_002, G04_003, G04_004, G04_005, G...",Việt Nam sẽ có hai tuyến đường sắt tốc độ cao ...,Phó thủ tướng Trần Hồng Hà vừa phê duyệt điều ...
1,Du lịch,"G09_001, G09_002, G09_003, G09_004, G09_005, G...",Bí ẩn thi thể nổi tiếng nhất Everest Triển lãm...,"Thi thể ""Giày xanh"" được xem như cột mốc nổi t..."
2,Giáo dục,"G06_001, G06_002, G06_003, G06_004, G06_005, G...",Dự kiến trung tâm dạy thêm phải công khai danh...,"Không chỉ về mức thu, thời khóa biểu, cơ..."
3,Giải trí,"G02_001, G02_002, G02_003, G02_004, G02_005, G...",Diễn viên Đình Tú - Ngọc Huyền cưới Dimash - '...,"Diễn viên Đình Tú, 33 tuổi, và Ngọc Huyền, 28 ..."
4,Khoa học và công nghệ,"G05_001, G05_002, G05_003, G05_004, G05_005, G...",Ứng dụng học tại nhà nhận 'bão một sao' Ảnh kh...,Ứng dụng Zoom Cloud Meetings nhận được nhiều đ...
5,Kinh doanh,"G03_001, G03_003, G03_004, G03_007, G03_008, G...","GDP quý III tăng 8,23% TP HCM đặt mục tiêu nửa...","Tại họp báo sáng 6/10, Cục Thống kê (Bộ Tài ch..."
6,Quan hệ quốc tế,"G11_001, G11_002, G11_003, G11_004, G11_005, G...",Tân Ngoại trưởng Rubio: Việt - Mỹ là hình mẫu ...,Trong cuộc điện đàm với Ngoại trưởng Mỹ Marco ...
7,Sức khoẻ - y tế,"G08_001, G08_002, G08_003, G08_004, G08_005, G...",Những 'bước tiến diệu kỳ' của Trúc Nhi - Diệu ...,"""Bước tiến diệu kỳ"" của Trúc Nhi - Diệu Nhi là..."
8,Thể thao,"G01_001, G01_002, G01_003, G01_004, G01_005, G...",Amorim: 'Man Utd có thể thắng nhiều hơn nếu đá...,Hệ thống 3-4-3 của Amorim gây tranh cãi từ khi...
9,Xã hội - Đời sống,"G10_001, G10_002, G10_003, G10_004, G10_005, G...",Người trẻ chọn sống tối giản Giá xăng tăng ảnh...,Ngày càng nhiều bạn trẻ lựa chọn lối sống tối ...
10,môi trường và thiên tai,"G07_001, G07_002, G07_003, G07_004, G07_005, G...",những người nước ngoài chuyển khỏi hà nội vì ô...,"yêu hà nội và đã gắn bó 8 năm, nhưng william g..."

In [211]:
for i in range(len(combined_df["title"])):
  combined_df.loc[i, "title"] = " | ".join(word_tokenize(combined_df["title"][i]))
  
for i in range(len(combined_df["content"])):
  combined_df.loc[i, "content"] = " | ".join(word_tokenize(combined_df["content"][i]))

In [212]:
combined_df

,topic,id,title,content
0,Chính trị,"G04_001, G04_002, G04_003, G04_004, G04_005, G...",Việt Nam | sẽ | có | hai | tuyến | đường sắt |...,Phó | thủ tướng | Trần Hồng Hà | vừa | phê duy...
1,Du lịch,"G09_001, G09_002, G09_003, G09_004, G09_005, G...",Bí ẩn | thi thể | nổi tiếng | nhất | Everest |...,"Thi thể | "" | Giày xanh | "" | được | xem | như..."
2,Giáo dục,"G06_001, G06_002, G06_003, G06_004, G06_005, G...",Dự kiến | trung tâm | dạy | thêm | phải | công...,"Không chỉ | về | mức | thu | , | thời | khóa b..."
3,Giải trí,"G02_001, G02_002, G02_003, G02_004, G02_005, G...",Diễn viên | Đình Tú | - | Ngọc Huyền | cưới | ...,"Diễn viên | Đình Tú | , | 33 | tuổi | , | và |..."
4,Khoa học và công nghệ,"G05_001, G05_002, G05_003, G05_004, G05_005, G...",Ứng dụng | học | tại | nhà | nhận | ' | bão | ...,Ứng dụng | Zoom Cloud | Meetings | nhận | được...
5,Kinh doanh,"G03_001, G03_003, G03_004, G03_007, G03_008, G...","GDP | quý | III | tăng | 8,23 | % | TP | HCM |...","Tại | họp báo | sáng | 6/10 | , | Cục | Thống ..."
6,Quan hệ quốc tế,"G11_001, G11_002, G11_003, G11_004, G11_005, G...",Tân Ngoại trưởng | Rubio | : | Việt | - | Mỹ |...,Trong | cuộc | điện đàm | với | Ngoại trưởng |...
7,Sức khoẻ - y tế,"G08_001, G08_002, G08_003, G08_004, G08_005, G...",Những | ' | bước | tiến diệu | kỳ ' | của | Tr...,""" | Bước tiến | diệu kỳ | "" | của | Trúc Nhi |..."
8,Thể thao,"G01_001, G01_002, G01_003, G01_004, G01_005, G...",Amorim | : | ' | Man Utd | có thể | thắng | nh...,Hệ thống | 3-4-3 | của | Amorim | gây | tranh ...
9,Xã hội - Đời sống,"G10_001, G10_002, G10_003, G10_004, G10_005, G...",Người | trẻ | chọn | sống | tối giản | Giá | x...,Ngày càng | nhiều | bạn | trẻ | lựa chọn | lối...
10,môi trường và thiên tai,"G07_001, G07_002, G07_003, G07_004, G07_005, G...",những | người | nước ngoài | chuyển | khỏi | h...,"yêu | hà nội | và | đã | gắn bó | 8 | năm | , ..."

# Demand

1. Tạo một bảng dữ liệu trong đó, mỗi từ là một feature, và giá trị của nó là số lần xuất hiện của nó. Có thể cộng cả content+title lại. Tiếp đến feed bảng dữ liệu này vào 3 mô hình học máy của scikit (Logistic, SVM, NaiveBayes)

2. Làm tương tự ở 1, nhưng bảng dữ liệu với số thuộc tính giảm sau khi loại các từ xuất hiện chung trong nhiều nhóm (có thể sử dụng set kết hợp với intersect - phép giao). Bảng features này có kích thước nhỏ hơn nhiều so với bảng 1.

3. Không tạo bảng features như 1 và 2 mà sử dụng kĩ thuật BoW (trong scikit, sử dụng CountVectorize)

4. Không tạo bảng feature như 1 và 2 mà sử dụng tfidf (TfidfVectorizer của scikit)

---

In [213]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report
from sklearn.preprocessing import OrdinalEncoder

In [214]:
def pipeline(X, y, test_size: float = 0.2):
    X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=test_size, random_state=42
    )

    # Logistic Regression
    log_model = LogisticRegression(max_iter=1000)
    log_model.fit(X_train, y_train)
    pred_log = log_model.predict(X_test)

    # SVM
    svm_model = LinearSVC()
    svm_model.fit(X_train, y_train)
    pred_svm = svm_model.predict(X_test)

    # Naive Bayes
    nb_model = MultinomialNB()
    nb_model.fit(X_train, y_train)
    pred_nb = nb_model.predict(X_test)

    print("Logistic Regression:\n", classification_report(y_test, pred_log))
    print("-" * 80, end="\n\n")
    print("SVM:\n", classification_report(y_test, pred_svm))
    print("-" * 80, end="\n\n")
    print("Naive Bayes:\n", classification_report(y_test, pred_nb))

# 1.

In [215]:
words_list = []
for i in range(len(combined_df)):
    words_list.extend(combined_df.loc[i, "title"].split(" | "))
    words_list.extend(combined_df.loc[i, "content"].split(" | "))
    
word_freq = pd.Series(words_list).value_counts()
word_freq

,                    17004
.                    10081
và                    4055
"                     3063
của                   2947
                     ...
Trần Hưng Đạo            1
Nguyễn Trung Trực        1
mưa cực                  1
vũ lượng                 1
chịu trận                1
Name: count, Length: 18201, dtype: int64

In [216]:
top_k = len(word_freq.index) 
vocab = word_freq.head(top_k).index.tolist()

rows = []
for i in range(len(combined_df)):
    tokens = []
    tokens.extend([w for w in combined_df.loc[i, "title"].split(" | ") if w])
    tokens.extend([w for w in combined_df.loc[i, "content"].split(" | ") if w])
    cnt = Counter(tokens)
    rows.append({w: cnt.get(w, 0) for w in vocab})

data = pd.DataFrame(rows)
data.insert(0, "topic", combined_df["topic"].values)

data.shape

(11, 18202)

In [217]:
data

,topic,",",.,và,"""",của,trong,các,là,được,...,mưa dông,dông,quá tải,sông suối,khai thông,Trần Hưng Đạo,Nguyễn Trung Trực,mưa cực,vũ lượng,chịu trận
0,Chính trị,2094,1231,386,348,271,252,198,220,249,...,0,0,0,0,0,0,0,0,0,0
1,Du lịch,2251,1480,522,410,380,287,301,385,334,...,0,0,0,0,0,0,0,0,0,0
2,Giáo dục,45,34,21,4,5,13,7,6,10,...,0,0,0,0,0,0,0,0,0,0
3,Giải trí,1030,565,157,207,184,101,82,114,81,...,0,0,0,0,0,0,0,0,0,0
4,Khoa học và công nghệ,1959,1308,515,535,423,286,247,227,214,...,0,0,0,0,0,0,0,0,0,0
5,Kinh doanh,2180,1295,463,443,325,284,342,277,179,...,0,0,0,0,0,0,0,0,0,0
6,Quan hệ quốc tế,3230,1351,755,294,615,399,439,389,242,...,0,0,0,0,0,0,0,0,0,0
7,Sức khoẻ - y tế,236,133,37,12,19,36,32,28,37,...,0,0,0,0,0,0,0,0,0,0
8,Thể thao,1917,1465,526,542,400,303,161,288,201,...,0,0,0,0,0,0,0,0,0,0
9,Xã hội - Đời sống,45,148,147,22,62,42,30,1,2,...,0,0,0,0,0,0,0,0,0,0
10,môi trường và thiên tai,2017,1071,526,246,263,289,342,170,177,...,1,1,1,1,1,1,1,1,1,1

In [218]:
X = data.drop(columns=["topic"])
y = data["topic"]

In [219]:
pipeline(X, y)

Logistic Regression:
                         precision    recall  f1-score   support

             Chính trị       0.00      0.00      0.00       1.0
              Giáo dục       0.00      0.00      0.00       0.0
Khoa học và công nghệ        0.00      0.00      0.00       0.0
            Kinh doanh       0.00      0.00      0.00       1.0
       Sức khoẻ - y tế       0.00      0.00      0.00       0.0
     Xã hội - Đời sống       0.00      0.00      0.00       1.0

              accuracy                           0.00       3.0
             macro avg       0.00      0.00      0.00       3.0
          weighted avg       0.00      0.00      0.00       3.0

--------------------------------------------------------------------------------

SVM:
                    precision    recall  f1-score   support

        Chính trị       0.00      0.00      0.00       1.0
         Giáo dục       0.00      0.00      0.00       0.0
       Kinh doanh       0.00      0.00      0.00       1.0
  Sức khoẻ - y tế       0.00      0.00      0.00       0.0
Xã hội - Đời sống       0.00      0.00      0.00       1.0

         accuracy                           0.00       3.0
        macro avg       0.00      0.00      0.00       3.0
     weighted avg       0.00      0.00      0.00       3.0

--------------------------------------------------------------------------------

Naive Bayes:
                         precision    recall  f1-score   support

             Chính trị       0.00      0.00      0.00       1.0
Khoa học và công nghệ        0.00      0.00      0.00       0.0
            Kinh doanh       0.00      0.00      0.00       1.0
       Quan hệ quốc tế       0.00      0.00      0.00       0.0
     Xã hội - Đời sống       0.00      0.00      0.00       1.0

              accuracy                           0.00       3.0
             macro avg       0.00      0.00      0.00       3.0
          weighted avg       0.00      0.00      0.00       3.0

# 2

In [220]:
def tokenize(text):
    return re.findall(r'\b\w+\b', text.lower())

# Tạo cột text nếu chưa có
df['text'] = df['title'] + ' ' + df['content']

# Tạo danh sách từ theo nhóm label
group_words = {}
for label, group in df.groupby('topic'):
    words = set()
    for text in group['text']:
        words.update(tokenize(text))
    group_words[label] = words

# Tìm các từ xuất hiện ở nhiều hơn 1 nhóm
common_words = set()
labels = list(group_words.keys())
for i in range(len(labels)):
    for j in range(i+1, len(labels)):
        common_words.update(group_words[labels[i]].intersection(group_words[labels[j]]))

# Tạo tập từ riêng (exclusive) cho mỗi nhóm
exclusive_words = set()
for label, words in group_words.items():
    exclusive_words.update(words - common_words)

print(f"Tổng số từ ban đầu: {len(set.union(*group_words.values()))}")
print(f"Tổng số từ sau khi loại từ chung: {len(exclusive_words)}")

Tổng số từ ban đầu: 7829
Tổng số từ sau khi loại từ chung: 4386

In [221]:
# Hàm tokenize
def tokenize(text):
    return re.findall(r'\b\w+\b', text.lower())

# Gộp text
df['text'] = df['title'] + ' ' + df['content']

# Gom nhóm theo topic
group_words = {}
for label, group in df.groupby('topic'):
    words = set()
    for text in group['text']:
        words.update(tokenize(text))
    group_words[label] = words

# Tìm các từ xuất hiện ở nhiều hơn 1 nhóm
common_words = set()
labels = list(group_words.keys())
for i in range(len(labels)):
    for j in range(i + 1, len(labels)):
        common_words.update(group_words[labels[i]].intersection(group_words[labels[j]]))

# Giữ lại các từ độc quyền
exclusive_words = set()
for label, words in group_words.items():
    exclusive_words.update(words - common_words)

In [222]:
# Tạo feature
features_reduced = []
for t in df['text']:
    counts = Counter(tokenize(t))
    row = {word: counts.get(word, 0) for word in exclusive_words}
    features_reduced.append(row)

X2 = pd.DataFrame(features_reduced)
y2 = df['topic']

X2 = X2.reset_index(drop=True)
y2 = y2.reset_index(drop=True)

print(X2.shape)
print(y2.shape)

(580, 4386)
(580,)

In [223]:
X2.head()

,oleksandr,bradley,pacquiao,bein,topping,ruốc,imdb,norrie,walking,pay,...,bergs,o3,kampot,alonso,buốt,albumin,hlv,nhẹp,nito,b3
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,3,0,0,30,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [224]:
pipeline(X2, y2)

Logistic Regression:
                          precision    recall  f1-score   support

              Chính trị       1.00      0.27      0.43        11
                Du lịch       1.00      0.60      0.75         5
               Giáo dục       0.00      0.00      0.00         8
               Giải trí       1.00      0.20      0.33        10
 Khoa học và công nghệ        1.00      0.45      0.62        11
             Kinh doanh       1.00      0.33      0.50         9
        Quan hệ quốc tế       1.00      0.53      0.70        15
        Sức khoẻ - y tế       0.00      0.00      0.00         2
               Thể thao       1.00      0.38      0.55         8
      Xã hội - Đời sống       0.28      1.00      0.44        24
môi trường và thiên tai       1.00      0.31      0.47        13

               accuracy                           0.47       116
              macro avg       0.75      0.37      0.44       116
           weighted avg       0.77      0.47      0.47       116

--------------------------------------------------------------------------------

SVM:
                          precision    recall  f1-score   support

              Chính trị       1.00      0.27      0.43        11
                Du lịch       1.00      0.60      0.75         5
               Giáo dục       0.00      0.00      0.00         8
               Giải trí       1.00      0.20      0.33        10
 Khoa học và công nghệ        1.00      0.45      0.62        11
             Kinh doanh       1.00      0.44      0.62         9
        Quan hệ quốc tế       1.00      0.53      0.70        15
        Sức khoẻ - y tế       0.00      0.00      0.00         2
               Thể thao       1.00      0.50      0.67         8
      Xã hội - Đời sống       0.29      1.00      0.45        24
môi trường và thiên tai       1.00      0.31      0.47        13

               accuracy                           0.49       116
              macro avg       0.75      0.39      0.46       116
           weighted avg       0.77      0.49      0.49       116

--------------------------------------------------------------------------------

Naive Bayes:
                          precision    recall  f1-score   support

              Chính trị       1.00      0.27      0.43        11
                Du lịch       1.00      0.80      0.89         5
               Giáo dục       0.00      0.00      0.00         8
               Giải trí       1.00      0.20      0.33        10
 Khoa học và công nghệ        1.00      0.45      0.62        11
             Kinh doanh       1.00      0.56      0.71         9
        Quan hệ quốc tế       1.00      0.60      0.75        15
        Sức khoẻ - y tế       0.00      0.00      0.00         2
               Thể thao       1.00      0.62      0.77         8
      Xã hội - Đời sống       0.30      1.00      0.47        24
môi trường và thiên tai       1.00      0.31      0.47        13

               accuracy                           0.53       116
              macro avg       0.75      0.44      0.50       116
           weighted avg       0.77      0.53      0.52       116

# 3.

In [225]:
# Gộp title + content
df['text'] = df['title'] + ' ' + df['content']

# Khởi tạo CountVectorizer (Bag of Words)
vectorizer = CountVectorizer()

# Fit và transform dữ liệu văn bản -> ma trận đặc trưng
X3 = vectorizer.fit_transform(df['text'])

# Nhãn
y3 = df['topic']

print(len(vectorizer.get_feature_names_out()))
print(X3.shape)

7780
(580, 7780)

In [226]:
pipeline(X3, y3)

Logistic Regression:
                          precision    recall  f1-score   support

              Chính trị       0.62      0.45      0.53        11
                Du lịch       1.00      0.80      0.89         5
               Giáo dục       0.83      0.62      0.71         8
               Giải trí       0.50      0.20      0.29        10
 Khoa học và công nghệ        0.50      0.73      0.59        11
             Kinh doanh       0.73      0.89      0.80         9
        Quan hệ quốc tế       0.62      0.67      0.65        15
        Sức khoẻ - y tế       0.00      0.00      0.00         2
               Thể thao       0.88      0.88      0.88         8
      Xã hội - Đời sống       0.73      1.00      0.84        24
môi trường và thiên tai       0.80      0.62      0.70        13

               accuracy                           0.70       116
              macro avg       0.66      0.62      0.62       116
           weighted avg       0.69      0.70      0.68       116

--------------------------------------------------------------------------------

SVM:
                          precision    recall  f1-score   support

              Chính trị       0.55      0.55      0.55        11
                Du lịch       1.00      1.00      1.00         5
               Giáo dục       1.00      0.75      0.86         8
               Giải trí       0.50      0.30      0.38        10
 Khoa học và công nghệ        0.50      0.73      0.59        11
             Kinh doanh       0.70      0.78      0.74         9
        Quan hệ quốc tế       0.89      0.53      0.67        15
        Sức khoẻ - y tế       0.00      0.00      0.00         2
               Thể thao       0.75      0.75      0.75         8
      Xã hội - Đời sống       0.71      1.00      0.83        24
môi trường và thiên tai       0.82      0.69      0.75        13

               accuracy                           0.71       116
              macro avg       0.67      0.64      0.65       116
           weighted avg       0.71      0.71      0.69       116

--------------------------------------------------------------------------------

Naive Bayes:
                          precision    recall  f1-score   support

              Chính trị       0.64      0.64      0.64        11
                Du lịch       0.50      1.00      0.67         5
               Giáo dục       0.00      0.00      0.00         8
               Giải trí       0.75      0.30      0.43        10
 Khoa học và công nghệ        0.43      0.91      0.59        11
             Kinh doanh       0.67      0.89      0.76         9
        Quan hệ quốc tế       0.45      0.87      0.59        15
        Sức khoẻ - y tế       1.00      0.50      0.67         2
               Thể thao       1.00      0.88      0.93         8
      Xã hội - Đời sống       1.00      0.25      0.40        24
môi trường và thiên tai       0.62      0.62      0.62        13

               accuracy                           0.59       116
              macro avg       0.64      0.62      0.57       116
           weighted avg       0.66      0.59      0.54       116

# 4.

In [227]:
# Gộp nội dung
df['text'] = df['title'] + ' ' + df['content']

# Khởi tạo TF-IDF Vectorizer
tfidf = TfidfVectorizer()

# Fit và transform dữ liệu
X4 = tfidf.fit_transform(df['text'])

# Nhãn
y4 = df['topic']

print(len(tfidf.get_feature_names_out()))
print(X4.shape)

7780
(580, 7780)

In [228]:
pipeline(X4, y4)

Logistic Regression:
                          precision    recall  f1-score   support

              Chính trị       0.86      0.55      0.67        11
                Du lịch       0.83      1.00      0.91         5
               Giáo dục       1.00      0.38      0.55         8
               Giải trí       0.00      0.00      0.00        10
 Khoa học và công nghệ        0.44      0.64      0.52        11
             Kinh doanh       0.89      0.89      0.89         9
        Quan hệ quốc tế       0.86      0.80      0.83        15
        Sức khoẻ - y tế       0.00      0.00      0.00         2
               Thể thao       0.89      1.00      0.94         8
      Xã hội - Đời sống       0.56      1.00      0.72        24
môi trường và thiên tai       0.88      0.54      0.67        13

               accuracy                           0.69       116
              macro avg       0.65      0.62      0.61       116
           weighted avg       0.68      0.69      0.65       116

--------------------------------------------------------------------------------

SVM:
                          precision    recall  f1-score   support

              Chính trị       0.88      0.64      0.74        11
                Du lịch       0.71      1.00      0.83         5
               Giáo dục       1.00      0.75      0.86         8
               Giải trí       0.80      0.40      0.53        10
 Khoa học và công nghệ        0.69      1.00      0.81        11
             Kinh doanh       0.90      1.00      0.95         9
        Quan hệ quốc tế       0.75      0.80      0.77        15
        Sức khoẻ - y tế       0.00      0.00      0.00         2
               Thể thao       1.00      0.88      0.93         8
      Xã hội - Đời sống       0.83      1.00      0.91        24
môi trường và thiên tai       0.92      0.85      0.88        13

               accuracy                           0.83       116
              macro avg       0.77      0.76      0.75       116
           weighted avg       0.83      0.83      0.81       116

--------------------------------------------------------------------------------

Naive Bayes:
                          precision    recall  f1-score   support

              Chính trị       1.00      0.27      0.43        11
                Du lịch       0.67      0.80      0.73         5
               Giáo dục       0.00      0.00      0.00         8
               Giải trí       0.00      0.00      0.00        10
 Khoa học và công nghệ        1.00      0.27      0.43        11
             Kinh doanh       1.00      0.67      0.80         9
        Quan hệ quốc tế       1.00      0.40      0.57        15
        Sức khoẻ - y tế       0.00      0.00      0.00         2
               Thể thao       0.86      0.75      0.80         8
      Xã hội - Đời sống       0.29      1.00      0.45        24
môi trường và thiên tai       0.67      0.15      0.25        13

               accuracy                           0.47       116
              macro avg       0.59      0.39      0.41       116
           weighted avg       0.62      0.47      0.43       116